<% content_for :head do %>
<title><%= @item.title %> - Monolist</title>
<meta name="description" content="<%= @item.title %>に関する情報です。この商品を欲しい人、持ってる人を表示しています。">
<% end %>
<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @item.present? %>
            <%= image_tag(@item.large_image, alt: @item.title) %>
          <% else %>
            <%= image_tag("no-image.png" , alt: @item.title) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <div class="gravatar">
            <% @have_users.each do |have_user| %>
              <% if have_user.image? %>
                <%= link_to(image_tag(have_user.image, alt: have_user.name, :size => '60x60' ), user_path(have_user.id)) %>
              <% else %>
                <%= link_to gravatar_for(have_user, :size => '50x50'), user_path(have_user.id) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <div class="gravatar">
            <% @want_users.each do |want_user| %>
              <% if want_user.image? %>
                <%= link_to(image_tag(want_user.image, alt: want_user.name, :size => '60x60' ), user_path(want_user.id)) %>
              <% else %>
                <%= link_to gravatar_for(want_user, :size => '50x50'), user_path(want_user.id) %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="text-center">
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
